
.vs/DrinkApi/DesignTimeBuild/.dtbcache.v2
.vs/DrinkApi/v17/.futdcache.v2
.vs/DrinkApi/v17/.suo
.vs/ProjectEvaluation/drinkapi.metadata.v5.2
.vs/ProjectEvaluation/drinkapi.projects.v5.2
DrinkApi/appsettings.json
DrinkApi/bin/Debug/net6.0/appsettings.json
DrinkApi/bin/Debug/net6.0/DrinkApi.dll
DrinkApi/bin/Debug/net6.0/DrinkApi.exe
DrinkApi/bin/Debug/net6.0/DrinkApi.pdb
DrinkApi/Controllers/AlcoholController.cs
DrinkApi/Controllers/NonAlcoholController.cs
DrinkApi/Controllers/UserController.cs
DrinkApi/Migrations/20230217102535_Drink.cs
DrinkApi/Migrations/20230217102535_Drink.Designer.cs
DrinkApi/Migrations/DatabaseContextModelSnapshot.cs
DrinkApi/Models/Entities/Alcohol.cs
DrinkApi/Models/Entities/Login.cs
DrinkApi/Models/Entities/NonAlcohol.cs
DrinkApi/Models/Entities/Role.cs
DrinkApi/Models/Entities/User.cs
DrinkApi/obj/Debug/net6.0/apphost.exe
DrinkApi/obj/Debug/net6.0/DrinkApi.assets.cache
DrinkApi/obj/Debug/net6.0/DrinkApi.csproj.AssemblyReference.cache
DrinkApi/obj/Debug/net6.0/DrinkApi.csproj.CoreCompileInputs.cache
DrinkApi/obj/Debug/net6.0/DrinkApi.csproj.FileListAbsolute.txt
DrinkApi/obj/Debug/net6.0/DrinkApi.dll
DrinkApi/obj/Debug/net6.0/DrinkApi.GeneratedMSBuildEditorConfig.editorconfig
DrinkApi/obj/Debug/net6.0/DrinkApi.genruntimeconfig.cache
DrinkApi/obj/Debug/net6.0/DrinkApi.pdb
DrinkApi/obj/Debug/net6.0/ref/DrinkApi.dll
DrinkApi/obj/Debug/net6.0/refint/DrinkApi.dll
DrinkApi/obj/DrinkApi.csproj.nuget.dgspec.json
DrinkApi/obj/DrinkApi.csproj.nuget.g.props
DrinkApi/obj/project.assets.json
DrinkApi/obj/project.nuget.cache
